@model CareerUpStudent.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Авторизация";
}
<style>
    .auth {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .display-4 {
        float: left;
        color: cornflowerblue;
        white-space: nowrap;
        padding: 0;
    }
</style>
<h4 class="display-4">Твой старт карьеры начинается именно здесь</h4>

<div class="auth">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option value="1">Студент</option>
                            <option value="2">HR</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Логин</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" asp-for="RememberMe">Запомнить меня</label>
                    </div>

                </div>

                <button type="submit" class="btn btn-outline-primary">Войти</button>
            </form>

        </div>
    </div>
</div>