@model CareerUpStudent.Models.Vacancy

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vacancy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceRequired" class="control-label"></label>
                <input asp-for="ExperienceRequired" class="form-control" />
                <span asp-validation-for="ExperienceRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentType" class="control-label"></label>
                <input asp-for="EmploymentType" class="form-control" />
                <span asp-validation-for="EmploymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsibilities" class="control-label"></label>
                <input asp-for="Responsibilities" class="form-control" />
                <span asp-validation-for="Responsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirements" class="control-label"></label>
                <input asp-for="Requirements" class="form-control" />
                <span asp-validation-for="Requirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conditions" class="control-label"></label>
                <input asp-for="Conditions" class="form-control" />
                <span asp-validation-for="Conditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCompany" class="control-label"></label>
                <select asp-for="IdCompany" class ="form-control" asp-items="ViewBag.IdCompany"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdHr" class="control-label"></label>
                <input asp-for="IdHr" class="form-control" />
                <span asp-validation-for="IdHr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

