@model CareerUpStudent.Models.Resume
<style>
    .display-4 {
        color: cornflowerblue;
    }
</style>
@{
    ViewData["Title"] = "Удалить";
}

<h1 class="display-4">Удалить</h1>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Резюме</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Ссылка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
