@model CareerUpStudent.Models.Reply
    <style>
        .display-4 {
            color: cornflowerblue;
        }
    </style>
@{
    ViewData["Title"] = "Удалить";
}

<h1 class="display-4">Мои отклики</h1>

<h3>Вы уверены что хотите убрать отклик?</h3>
<div>
    <h4>Отклик</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
