@model CareerUpStudent.Models.ReplyResume
<style>
    .display-4 {
        color: cornflowerblue;
    }
</style>
@{
    ViewData["Title"] = "Отклики";
}

<h1 class="display-4">Мои отклики</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Резюме
            </th>
            <th>
                Ссылка на резюме
            </th>
            <th>
                Вакансия
            </th>
            <th>
                Компания
            </th>
            <th>
                Дата отклика
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Frontend developer
            </td>
            <td>
                https://perm.hh.ru/resume/4446bd2eff097ed8e00039ed1f6d4a45326336
            </td>
            <td>
                Middle frontend developer / Frontend разработчик (home office)
            </td>
            <td>
                Xsolla
            </td>
            <td>
                29.03.2022
            </td>
        </tr>
    </tbody>
</table>